{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}FLAGSHIP{% endblock %}

{% block body_block %}

<canvas id="flagship" width=500 height=500 style="border:1px solid #000000;">
</canvas>

<script>

var canvas = document.getElementById("flagship");
var context = canvas.getContext("2d");

var player = {
    color: "#FF0000",
    x: 220,
    y: 270,
    width: 50,
    height: 50,
    draw: function() {
        context.fillStyle = this.color;
        context.fillRect(this.x, this.y, this.width, this.height);
        }
    };

function update() {
    }


function draw() {
    context.clearRect(0, 0, 500, 500);
    player.draw();
}

var FPS = 30;
setInterval(function() {
    update();
    draw();
    }, 1000/FPS);

</script>



{% endblock %}
