{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}FLAGSHIP{% endblock %}

{% block body_block %}

<canvas id="flagship" width="500" height="500" style="border:1px solid #000000;">
</canvas>

<script>
    function draw_flagship() {
        var flagship_canvas = document.getElementById("flagship");
        var flagship_context = flagship_canvas.getContext("2d");
        flagship_context.fillStyle = "#FF0000";
        flagship_context.fillRect(0, 0, 50, 50);
    }

    draw_flagship();
</script>

{% endblock %}