{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}BIEBFEED{% endblock %}

{% block body_block %}
<h1>This is the BIEBFEED.</h1>

<h1>Here are Justin Bieber's 5 most recent tweets!</h1>

<ul>
    {% for user in user_list %}
    <li>{{ user }}</li>
    {% endfor %}
</ul>

<h3>
    <ul>
        {% for key, value in justinbieber.items %}
        <li><strong>{{ key }}</strong> : {{ value }}</li><br>
        {% endfor %}
    </ul>
</h3>

<h1>Here are Taylor Swift's 5 most recent tweets!</h1>

<h3>
    <ul>
        {% for key, value in taylorswift13.items %}
        <li><strong>{{ key }}</strong> : {{ value }}</li><br>
        {% endfor %}
    </ul>
</h3>



<h4>
<p>For this simple app, I built a small wrapper for the tweepy python module. It queries
the twitter API and formats the results into a context_dict that is interpreted by a
django template. This is pretty limited at this point, but in the future I hope to add
in authentication functionality and allow users to have personalized lists of twitter
feeds they want to follow. Furthermore, I will need a better way of displaying the
tweets!</p>
</h4>

{% endblock %}
