{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}BIEBFEED{% endblock %}

{% block body_block %}
<h1>This is the BIEBFEED.</h1>

<ul>
{% for target_username in twitter_targets %}
    <strong>{{ target_username }}:</strong><br><br>
        {% for tweet in target_tweet_list %}
            <li>{{ tweet }}</li>
        {% endfor %}<br>
{% endfor %}
</ul>


<h4>
<p>For this simple app, I built a small wrapper for the tweepy python module. It queries
the twitter API and formats the results into a context_dict that is interpreted by a
django template. This is pretty limited at this point, but in the future I hope to add
in authentication functionality and allow users to have personalized lists of twitter
feeds they want to follow. Furthermore, I will need a better way of displaying the
tweets!</p>
</h4>

{% endblock %}
