{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}BIEBFEED{% endblock %}

{% block body_block %}
<h1>This is the BIEBFEED.</h1>

{% if user.is_authenticated %}
<h1>You are logged in. Customizable list coming soon!</h1>
{% else %}
<h1><a href ="{% url 'auth_login'%}">Login</a> to customize your list of friends!</h1>
{% endif %}

{% for key, value, other in master_tweet_dict.items %}
        <h1>{{ key }}</h1>
            <ul>
                <li>{{ value.0 }}</li>
                <li>{{ value.1 }}</li>
                <li>{{ value.2 }}</li>
                <li>{{ value.3 }}</li>
                <li>{{ value.4 }}</li>
            </ul>
{% endfor %}<br>


<h4>
<p>For this simple app, I built a small wrapper for the tweepy python module. It queries
the twitter API and formats the results into a context_dict that is interpreted by a
django template. This is pretty limited at this point, but in the future I hope to add
in authentication functionality and allow users to have personalized lists of twitter
feeds they want to follow. Furthermore, I will need a better way of displaying the
tweets!</p>
</h4>

{% endblock %}
